{% extends "master.html" %}


{% block contenido %}
    <div class="container">
        <div class="row">
            {% if ave %}
                <h2> Nombre cientifico: {{ ave.nombre }}</h2>
                <h3>Especie: <i> {{ ave.especie }}</i></h3>
                <h3>Clase: {{ ave.clase }} | UICN: {{ ave.uicn }}  </h3>
                <h4>Autor: <a href="{% url 'autor' ave.id_autor_id %}">{{ ave.id_autor }}</a></h4>
                <img src="/static/img/parte-del-ave.jpg" class="img-responsive" alt="{{ ave.nombre }}">
                <div class="clearfix"></div>

                </div>
            {% endif %}
    </div>


{% endblock %}
