{% extends "master.html" %}
{% block titulo %}   {{ titulo }} {% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button type="button" onclick="get_top_autores()">Top 10 Autores</button>
            </div>
            <div class="col-md-3">
                <button type="button" onclick="get_uicn()">UICN</button>
            </div>
            <div class="col-md-3">
                <button type="button">Click Me!</button>
            </div>
            <div class="col-md-3">
                <button type="button">Click Me!</button>
            </div>
        </div>
        <br>
        <br>
        <div class="col-md-10">
            <div id="chart1">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            console.log('Loading document');
            get_top_autores();

        });

        function get_top_autores() {
            $("#chart1").empty();
            $("#titulo").empty();
            $("#titulo").text("Top 10 Autores con mas publicaciones");
            $.ajax({
                method: "post",
                url: '{% url "appAves.views.top_autores_view" %}',
                data: {},
                //beforeSend:function() {},
                success: function (data) {
                    var autores = [];
                    var values = [];
                    for (var i = 0; i < 10; i++) {
                        autores.push(data.autores.results[i].nombre);
                        values.push(data.values.values[i].id_autor_id__count);
                    }
                    //set up chart
                    var barPadding = 1;
                    var margin = {top: 20, right: 20, bottom: 200, left: 40},
                        width = 1060 - margin.left - margin.right,
                        height = 600 - margin.top - margin.bottom;

                    var colors = ["#004D40", "#00695C", "#00796B", "#00897B", "#009688", "#26A69A", "#4DB6AC"];
                    var color = d3.scaleOrdinal()
                        .range(colors);

                    // set the ranges
                    var x = d3.scaleBand()
                        .range([0, width])
                        .padding(0.1);
                    var y = d3.scaleLinear()
                        .range([height, 0]);

                    //Create SVG element
                    var chart = d3.select("#chart1")
                        .append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform",
                            "translate(" + margin.left + "," + margin.top + ")");

                    function create_bar_chart(data, x_values) {
                        // add scale in the range of data
                        x.domain(x_values.map(function (d) {
                            return d;
                        }));
                        y.domain([0, d3.max(data, function (d) {
                            return d;
                        })]);
                        // append the rectangles for the bar chart
                        chart.selectAll(".bar")
                            .remove()
                            .exit()
                            .data(data)
                            .enter()
                            .append("rect")
                            .attr("class", "bar")
                            .attr("x", function (d, i) {
                                return i * (width / data.length) + 15;
                            })
                            .attr("width", width / data.length - barPadding)
                            .attr("y", height)
                            .attr("height", 0)
                            .style("fill", function (d) {

                                return "rgb(" + 0 + "," + (24 + d) + "," + (29 - d) + ")"
                            });

                        // bars transtition

                        chart.selectAll(".bar")
                            .transition()
                            .duration(1500)
                            .attr("y", function (d) {
                                return y(d);
                            })
                            .attr("height", function (d) {
                                return height - y(d);
                            });


                        // set text for bars
                        chart.selectAll("text")
                            .remove()
                            .exit()
                            .data(data)
                            .enter()
                            .append("text")
                            .text(function (d) {
                                return d;
                            })
                            .attr("x", function (d, i) {

                                return i * (width / data.length) + 45;
                            })
                            .attr("y", function (d) {
                                return y(d) + 20;
                            })
                            .attr("font-family", "sans-serif")
                            .attr("font-size", "15px")
                            .attr("fill", "white");
                        //delete axis
                        chart.selectAll("g")
                            .remove()
                            .exit();

                        // add the x Axis
                        chart.append("g")
                            .attr("class", "axis")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x))
                            .selectAll("text")
                            .style("text-anchor", "end ")
                            .attr("font-size", "15px")
                            .attr("dx", "-.8em")
                            .attr("dy", ".15em")
                            .attr("transform", function (d) {
                                return "rotate(-65)";
                            });


                        // add the y Axis
                        chart.append("g")
                            .call(d3.axisLeft(y));

                    }

                    create_bar_chart(values, autores);

                }
            });
        }

        function get_uicn() {
            $("#chart1").empty();
            $("#titulo").empty();
            $("#titulo").text("Cantidad de aves por UICN");
            $.ajax({
                method: "post",
                url: '{% url "appAves.views.uicn_view" %}',
                data: {},
                success: function (data) {
                    var labels = [];
                    var values = [];

                    for (var i = 0; i < 8; i++) {
                        labels.push(data.values.values[i].uicn);
                        values.push(data.values.values[i].uicn__count);

                    }
                    console.log(labels);
                    console.log(values);
                    //set up chart
                    var margin = {top: 20, right: 20, bottom: 200, left: 40},
                        width = 1060 - margin.left - margin.right,
                        height = 600 - margin.top - margin.bottom,
                        radius = Math.min(width, height) / 2;
                    colors = ["#004D40", "#00695C", "#00796B", "#00897B", "#009688", "#26A69A", "#4DB6AC"];
                    var color = d3.scaleOrdinal()
                        .range(colors);

                    var arc = d3.arc()
                        .outerRadius(radius - 10)
                        .innerRadius(0);

                    var labelArc = d3.arc()
                        .outerRadius(radius - 40)
                        .innerRadius(radius - 40);
                    var pie = d3.pie()
                        .sort(null)
                        .value(function (d) {
                            return d;
                        });

                    var pieChart = d3.selectAll("#chart1")
                        .append("svg")
                        .attr("width", width)
                        .attr("height", height)
                        .append("g")
                        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                    function createPieChart(data, labels) {


                        //set labels
                        pieChart.selectAll(".infoRect")
                            .remove()
                            .exit()
                            .data(pie(data))
                            .enter()
                            .append("rect")
                            .attr("class", "infoRect")
                            .attr("width", 25)
                            .attr("height", 25)
                            .style("fill", function (d) {
                                return color(d.data);
                            })
                            .attr("y", 0)
                            .attr("x", -430);
                        pieChart.selectAll(".infoRect")
                            .transition()
                            .duration(1500)
                            .attr("y", function (d, i) {
                                return -125 - (-(i * (height / 10)));
                            });
                        pieChart.selectAll(".textLabels")
                            .remove()
                            .exit()
                            .data(labels)
                            .enter()
                            .append("text")
                            .attr("class", "textLabels")
                            .text(function (d) {
                                return d;
                            })
                            .attr("y", function (d, i) {
                                return 20 - 125 - (-(i * (height / 10)));
                            })
                            .attr("x", 0);

                        pieChart.selectAll(".textLabels")
                            .transition()
                            .duration(1500)
                            .attr("x", -390);
                        var g = pieChart.selectAll(".arc")
                            .remove()
                            .exit()
                            .data(pie(data))
                            .enter()
                            .append("g")
                            .attr("class", "arc");

                        g.append("path")
                            .attr("d", arc)
                            .style("fill", function (d) {
                                return color(d.data);
                            });

                        g.append("text")
                            .attr("transform", function (d) {
                                return "translate(" + (labelArc.centroid(d)) + ")";
                            })
                            .attr("dy", ".35em")
                            .text(function (d) {
                                return "#" + d.data;
                            });

                    }

                    createPieChart(values, labels)
                }
            });
        }

        {#   jQuery(document).ready(function ($) {#}
        {#    console.log('llegando');#}
        {#    $.ajax({#}
        {#                method:"post",#}
        {#                url: '{% url "appAves.views.funcion_ajax_buscador" %}',#}
        {#                data: {#}
        {#                    'valor': 'test',#}
        {#                },#}
        {#                //beforeSend:function() {},#}
        {#                success:function(data) {#}
        {#                    console.log(data);#}
        {#                }#}
        {#            });#}


    </script>
{% endblock %}
