{% extends "master.html" %}
{% block titulo %}Listado de Aves{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="col-md-10">
            {% if list_aves %}

                    {% for ave in list_aves %}
                        <h2> Nombre cientifico: {{ ave.nombre }}</h2>
                        <h3>Especie: <i> {{ ave.especie }}</i></h3>
                        <h3>Clase: {{ ave.clase }} | UICN: {{ ave.uicn }}  </h3>
                        <h4>Autor: {{ ave.id_autor }}</h4>
                        <p></p>
                        <a href="{% url 'ave' ave.id_ave %}">ver</a>
                        <img src="/static/img/parte-del-ave.jpg" class="img-responsive" alt="{{ ave.nombre }}">

                    {% endfor %}

            {% endif %}
        </div>
    </div>
{% endblock %}
