{% extends "master.html" %}
{% block titulo %}Top Autores{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="col-md-10">
            {% if lst_autores %}

                {% for autor in lst_autores %}
                    <h2>{{ autor.nombre }}</h2>

                {% endfor %}
                {% for autor in conteo %}
                    <p> {{ autor.nombre}}</p>

                {% endfor %}


            {% endif %}
        </div>
    </div>
{% endblock %}
